// COLORS
$primary-color: #B8860B;
$secondary-color: #A08040;

$white-color: #FAFAFA;

$dark-grey: #4A4A4A;
$light-grey: #E0E0E0;

$dark-blue-text: #2C3E50; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
